venv
.env
workspace

# Ignore all __pycache__ directories recursively
__pycache__/

# Ignore compiled bytecode files
*.py[cod]
*$py.class

tests/tpcc/results/
tests/pgbench/results/
legacy_tests/
tools/
*.txt
bug

# Build & packaging artifacts
*.egg-info/
build/
dist/
.pytest_cache/
test.py
workload.json
